<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>968117996720-m85fvssa2ajeta04ac7ptmu1l0fo0do3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968117996720-m85fvssa2ajeta04ac7ptmu1l0fo0do3</string>
	<key>API_KEY</key>
	<string>AIzaSyADZIP8oA9xxNj3PKBucXwxUZQqJpAjkN8</string>
	<key>GCM_SENDER_ID</key>
	<string>968117996720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.excellence.jobs</string>
	<key>PROJECT_ID</key>
	<string>hrrecruit-8c1cc</string>
	<key>STORAGE_BUCKET</key>
	<string>hrrecruit-8c1cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:968117996720:ios:d39d42f0c47d6ff9</string>
	<key>DATABASE_URL</key>
	<string>https://hrrecruit-8c1cc.firebaseio.com</string>
</dict>
</plist>